body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  
}
#board{
    border:1px solid #d3d3d3;
    background-image: url("images/flappybirdbg.png");
}